<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quia debitis quod rem eveniet sint facilis sit delectus atque, pariatur et voluptas dolorem animi error esse id magnam, velit ut.</p>
</body>
</html>